[user]
	name = Bjørnar Snoksrud
	email = bjornar@snoksrud.no

[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow bold
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
    default = tracking
[log]
    default = --stat

[alias]
    ci = commit
    co = checkout
    a = add
    st = status -sb
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative -n 20
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    unmerged = !MERGEBASE=$(git merge-base HEAD master) && git log $MERGEBASE..HEAD
    master = checkout master
[core]
	excludesfile = ~/.gitignore
[help]
	autocorrect = 1
