[user]
	name = Bjørnar Snoksrud
	email = bjornar@snoksrud.no

[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow bold
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
    default = tracking
[log]
    default = --stat

[alias]
    co = checkout
    st = status -sb
    br = branch
    lga = log --graph --pretty=format:'%Cred%h %Cgreen(%cd)%C(yellow)%-d%Creset %s %C(bold blue)<%aE>' --date=short --abbrev-commit
    lgr = log --graph --pretty=format:'%Cred%h %Cgreen(%cd)%C(yellow)%-d%Creset %s %C(bold blue)<%aE>' --date=relative --abbrev-commit
    lg = log --graph --pretty=format:'%Cred%h %C(yellow)%-d%Creset %s %C(bold blue)<%aE>' --abbrev-commit -n 20
    unmerged = !MERGEBASE=$(git merge-base HEAD master) && git log $MERGEBASE..HEAD
    master = checkout master
[core]
	excludesfile = ~/.gitignore
[help]
	autocorrect = 1
